[core]
	excludesfile = ~/.gitignore
[user]
	email = gouge.tristan@gmail.com
	name = naegi
[push]
	default = simple
[alias]
	c = commit
	cl = clone
	p = push
	pl = pull
	a = add
	s = status
	conf = config
	d = diff
	tree = log --oneline --decorate --all --graph
	t = log --oneline --decorate --all --graph
	br = branch
	ck = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = meld
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[color]
	ui = auto
