[alias]
	tree = log --graph --pretty=oneline --abbrev-commit
	s = status
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[diff]
    colorMoved = default
	wordRegex = [^[:space:],]+|[,]+
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[push]
	autoSetupRemote = yes
[blame]
	ignoreRevsFile = .git-blame-ignore-revs

[include]
    path = ~/.config/git/personal
[includeIf "gitdir:~/projects-eli/"]
    path = ~/.config/git/eli
[includeIf "gitdir:~/qomon/"]
    path = ~/.config/git/work
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autoStash = true
[pull]
	rebase = true
[rerere]
	enabled = true
